# Server Configuration
PORT=####

# Database Configuration
# Sostituisci i valori segnaposto con le tue credenziali PostgreSQL locali
DATABASE_URL="postgresql://USER:PASSWORD@localhost:5432/DATABASE_NAME?schema=public"